@{ 
    ViewData["Title"] = "Tasks";
}
<div class="row p-3">
    <div class="col-xl-2 pb-3">
        <button id="btn_create" type="button" class="btn btn-primary elevation-1">
            <i class="fas fa-plus"></i> Create Task
        </button>
    </div>
    <div class="col-xl-12">
        <div class="card card-dark">
            <div class="card-header">
                <span class="card-title">Tasks</span>
            </div>
            <div class="card-body">
                <table id="table_tasks" class="table table-sm table-striped table-hover w-100">
                    <thead class="text-center">
                        <tr>
                            <th>ID</th>
                            <th>Job ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot class="text-center">
                        <tr>
                            <th>ID</th>
                            <th>Job ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_task" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="job_id">Job ID</label>
                        <select id="job_id" class="form-control">
                            <option value="" selected disabled>Please Select Job</option>
                            <option value="">Others</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="task_id">Task ID</label>
                        <input id="task_id" type="text" class="form-control" placeholder="Task ID" />
                    </div>
                    <div class="form-group">
                        <label for="task_name">Task Name</label>
                        <input id="task_name" type="text" class="form-control" placeholder="Task Name" />
                    </div>
                    <div class="form-group">
                        <label for="task_description">Task Description</label>
                        <input id="task_description" type="text" class="form-control" placeholder="Task Description" />
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <input id="status" type="text" class="form-control" placeholder="Status" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{ 
    <script type="text/javascript">

        var update = false;
        var table;
        $(document).ready(function () {
            GetTasks();
        });

        async function GetTasks() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetTasks", "Tasks")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    GenerateTable(response);
                }
            });
        };

        function GenerateTable(tasks) {
            var datas = [];

            if (table !== null)
                $('#table_tasks').DataTable().destroy();

            for (var i = 0; i < tasks.length; i++) {
                datas.push([
                    tasks[i].task_id,
                    tasks[i].job_id,
                    tasks[i].task_name,
                    tasks[i].task_description,
                    tasks[i].status,
                ]);
            }

            table = $('#table_tasks').DataTable({
                data: datas,
            });
        };

        $('#btn_create').on('click', function () {
            CreateTask();
        });

        function CreateTask() {
            update = false;
            $('#modal_task').modal();
            $('#job_id').val();
            $('#task_id').val();
            $('#task_name').val();
            $('#task_description').val();
            $('#status').val();
        };

        $('#table_tasks tbody').on('click', 'tr', function () {
            EditTask(table.row(this).data());
        });

        function EditTask(data) {
            update = true;

            var job_id = data[3];
            var task_id = data[0];
            var task_name = data[1];
            var task_description = data[2];
            var status = data[4];

            $('#modal_task').modal();
            $('#job_id').val(job_id);
            $('#task_id').val(task_id);
            $('#task_name').val(task_name);
            $('#task_description').val(task_description);
            $('#status').val(status);
        }

        $('#btn_save').on('click', function () {
            var job_id = $('#job_id').val();
            var task_id = $('#task_id').val();
            var task_name = $('#task_name').val();
            var task_description = $('#task_description').val();
            var status = $('#status').val();
            job_id = job_id !== null ? job_id : "";
            status = (status === null) ? "" : status;

            var debug = true;
            if (debug) {
                console.log("Job ID: " + job_id);
                console.log("Task ID: " + task_id);
                console.log("Task Name: " + task_name);
                console.log("Task Description: " + task_description);
                console.log("Status: " + status);
            }

            var task_string = JSON.stringify({
                "job_id": job_id,
                "task_id": task_id,
                "task_name": task_name,
                "task_description": task_description,
                "status": status
            });

            if (update) {
                UpdateTask(task_string);
            }
            else {
                CreateTask(task_string);
            }
        });

        function CreateTask(task_string) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddTask", "Tasks")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    task_string
                },
                success: function (response) {
                    if (response == "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        };

        function UpdateTask(task_string) {
            $.ajax({
                type: "PATCH",
                url: '@Url.Action("UpdateTask", "Tasks")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    task_string
                },
                success: function (response) {
                    if (response == "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        };

    </script>
}