@{ 
    ViewData["Title"] = "Products";
}
<div class="row p-3">
    <div class="col-xl-2 pb-3">
        <button id="btn_create" type="button" class="btn btn-primary elevation-1">
            <i class="fas fa-plus"></i> Create Product
        </button>
    </div>
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Products</span>
            </div>
            <div class="card-body">
                <table id="table_products" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Unit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#table_product').DataTable();
            GetProducts();
        });

        async function GetProducts() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetProducts", "Product")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    GenerateTable(response);
                }
            });
        };

        var table;
        function GenerateTable(products) {
            var datas = [];

            for (var i = 0; i < products.length; i++) {
                datas.push([
                    products[i].product_id,
                    products[i].product_name,
                    products[i].brand_id,
                    products[i].product_price,
                    products[i].product_unit,
                ]);
            }

            table = $('#table_products').DataTable({
                data: datas,
            });
        }

    </script>
}