@{
    ViewData["Title"] = "Home Page";
}
<div class="row p-3">
    <div class="col-xl-2 col-4">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Add Task</span>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="start_task">Start</label>
                        <input id="start_task" type="datetime-local" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="stop_task">Stop</label>
                        <input id="stop_task" type="datetime-local" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="task_job_id">Job ID</label>
                        <input id="task_job_id" type="text" class="form-control" placeholder="JXX-XXXX"/>
                    </div>
                    <div class="form-group">
                        <label for="task_description">Description</label>
                        <input id="task_description" type="text" class="form-control" placeholder="Description" />
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"/> All Day
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button id="btn_add_task" class="btn btn-primary">
                    Add Task
                </button>
                <button class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <div class="col-xl-10 col-8">
        <div class="card">
            <div class="card-header">
                <span class="card-titlle">Calendar</span>
            </div>
            <div class="card-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="taskmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Tasks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="job">Job</label>
                        <input id="job" type="text" class="form-control" placeholder="JXX-XXXX" />
                    </div>
                    <div class="form-group">
                        <label for="start_date">Start Date</label>
                        <input id="start_date" type="date" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="stop_date">Stop Date</label>
                        <input id="stop_date" type="date" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="start_time">Start Time</label>
                        <input id="start_time" type="time" class="form-control" value="08:30"/>
                    </div>
                    <div class="form-group">
                        <label for="stop_time">Stop Time</label>
                        <input id="stop_time" type="time" class="form-control" value="17:30"/>
                    </div>
                    <div class="form-group">
                        <label for="task">Task</label>
                        <input id="task" type="text" class="form-control" placeholder="Please Select Tasks"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Accept</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        var calendar;
        var calendarEl;
        $(document).ready(function () {
            calendarEl = document.getElementById('calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'dayGridMonth,listMonth,timeGridWeek,timeGridDay',
                    center: 'title',
                    right: 'prev,next'
                },
                events: [
                    {
                        title: 'New Year',
                        start: '2022-01-01',
                        end: '2022-01-04',
                        allDay: true,
                        editable: false
                    },
                    {
                        title: 'Meeting 1',
                        start: '2022-01-04',
                        end: '2022-01-05',
                        allDay: false,
                    },
                    {
                        title: 'Meeting 2',
                        start: '2022-01-04',
                        end: '2022-01-05',
                        allDay: false,
                    },
                    {
                        title: 'Meeting 3',
                        start: '2022-01-04',
                        end: '2022-01-05',
                        allDay: false,
                    },
                    {
                        daysOfWeek: [0, 6],
                        display: "background",
                        color: "#80808080",
                        overLap: true,
                        allDay: true
                    },
                    {
                        id: '0',
                        title: 'Project Meeting',
                        start: '2022-01-07T08:30:00',
                        end: '2022-01-07T12:00:00',
                        overLap: true,
                        allDay: false,
                        color: '#FF000033',
                    },
                    {
                        id: '1',
                        title: 'Lunch',
                        start: '2022-01-07T12:00:00',
                        end: '2022-01-07T13:00:00',
                        overLap: true,
                        allDay: false,
                        color: '#80808033',
                    },
                    {
                        title: 'Project Meeting 2',
                        start: '2022-01-07T13:00:00',
                        end: '2022-01-07T17:30:00',
                        overLap: true,
                        allDay: false,
                        color: '#00FF0033',
                    },
                ],
                height: 650,
                @*dateClick: function (info) {
                    alert('Date: ' + info.dateStr);
                },*@
                editable: true,
                selectable: true,
                select: function (info) {
                    alert('selected ' + info.startStr + ' to ' + info.endStr);
                },
                eventClick: function (info) {
                    $('#taskmodal').modal();
                    @*alert('Event: ' + info.event.title);
                    var e = calendar.getEventById(info.event.id);
                    e.remove();*@
                },
                @*editable: true,
                selectable: true,
                unselectAuto: true,*@
                @*select: function (startDate, endDate) {
                    var start = new Date(startDate.format());
                    var stop = new Date(endDate.format());
                    stop = new Date(stop.setDate(stop.getDate() - 1));
                    var start_date = start.toISOString().split('T')[0];
                    var stop_date = stop.toISOString().split('T')[0];
                    if (start_date === stop_date) {
                        $('#taskmodal').modal();
                        $('#start_date').val(start_date);
                        $('#stop_date').val(stop_date);
                    }
                    else {
                        $('#taskmodal').modal();
                        $('#start_date').val(start_date);
                        $('#stop_date').val(stop_date);
                    }
                }*@
            });
            calendar.render();
        });

        $('#btn_add_task').on('click', function () {
            var available = true;
            available = $('#start_task').val() !== null ? true : false;
            available = $('#stop_task').val() !== null ? true : false;
            available = $('#task_job_id').val() !== null ? true : false;
            available = $('#task_description').val() !== null ? true : false;
            if (available) {
                calendar.addEvent({
                    title: $('#task_job_id').val(),
                    start: $('#start_task').val(),
                    allDay: true
                });
                calendar.render();
                alert("done");
                $('#start_task').val(null);
                $('#stop_task').val(null);
                $('#task_job_id').val(null);
                $('#task_description').val(null);
            }
        });
    </script>
}