@{
    ViewData["Title"] = "Home";
}
<div class="row p-3">
    <div class="col-xl-3 col-lg-3 col-md-4 pb-3">
        <select class="form-control">
            <option>Please Select Job</option>
        </select>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 pb-3">
        <select class="form-control">
            <option>Please Select Task</option>
        </select>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 pb-3">
        <button class="btn btn-primary form-control">
            <i class="fas fa-filter"></i> Filter
        </button>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-6 pb-3">
        <input id="month" type="month" class="form-control" />
    </div>
    <div class="col-xl-2 col-lg-2 col-md-6 pb-3">
        <button id="btn_print" type="button" class="btn btn-success form-control">
            <i class="fas fa-print"></i> Print
        </button>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

<!-- Task Modal -->
<div class="modal fade" id="modal_task" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_task_title">Add Tasks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="user_id">User</label>
                        <input id="user_id" type="text" class="form-control" placeholder="User ID" />
                    </div>
                    <div class="form-group">
                        <label for="working_date">Date</label>
                        <input id="working_date" type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="job_id">Job</label>
                        <select id="job_id" class="form-control">
                            <option value="" selected disabled>Please Select Job</option>
                            <option value="J201299">J20-1299 BTGNM</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="task_id">Task</label>
                        <select id="task_id" class="form-control">
                            <option value="" selected disabled>Please Select Task</option>
                            <option>Task 1</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="start_time">Start Time</label>
                            <input id="start_time" type="time" class="form-control" value="08:30" />
                        </div>
                        <div class="col-6">
                            <label for="stop_time">Stop Time</label>
                            <input id="stop_time" type="time" class="form-control" value="17:30" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Break</label>
                    </div>
                    <div class="form-group row d-flex align-items-baseline">
                        <div class="col-2">
                            <div class="form-check">
                                <input id="lunch" type="checkbox" class="form-check-input" />
                                <label for="lunch" class="form-check-label">Lunch</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-baseline">
                        <div class="col-2">
                            <div class="form-check">
                                <input id="dinner" type="checkbox" class="form-check-input" />
                                <label for="dinner" class="form-check-label">Dinner</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="note">Note</label>
                        <input id="note" type="text" class="form-control" placeholder="Note or Description" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_accept" type="button" class="btn btn-primary">Accept</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            GetWorkingHours();
        });

        function GetWorkingHours() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetWorkingHours", "Home")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                },
                success: function (response) {
                    console.log("Working Hours Data");
                    console.log(response);
                    GenerateCalendar(response);
                }
            });
        };

        var calendar;
        var calendarEl;
        function GenerateCalendar(whs) {

            var datas = [];
            for (var i = 0; i < whs.length; i++) {
                var start_date = new Date(whs[i].working_date);
                datas.push(
                    {
                        title: whs[i].note,
                        start: start_date.setHours(whs[i].start_time.split(":")[0], whs[i].start_time.split(":")[1]),
                        end: start_date.setHours(whs[i].stop_time.split(":")[0], whs[i].stop_time.split(":")[1]),
                        allDay: false,
                        editable: false,
                        extendedProps: {
                            index: whs[i].index,
                            user_id: whs[i].user_id,
                            working_date: whs[i].working_date,
                            job_id: whs[i].job_id,
                            task_id: whs[i].task_id,
                            start_time: whs[i].start_time,
                            stop_time: whs[i].stop_time,
                            lunch: whs[i].lunch,
                            dinner: whs[i].dinner,
                            note: whs[i].note,
                        }
                    }
                );
            }
            console.log("Calendar Events Data");
            console.log(datas);

            calendarEl = document.getElementById('calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'dayGridMonth,listMonth,timeGridWeek,timeGridDay',
                    center: 'title',
                    right: 'prev,next'
                },
                events: datas,
                height: 650,
                @*dateClick: function (info) {
                    alert('Date: ' + info.dateStr);
                },*@
                editable: true,
                selectable: true,
                select: function (info) {
                    //console.log(info);
                    var date_start = info.startStr;
                    var date_end = info.endStr;
                    //console.log(date_start + " to " + date_end);
                    AddTask(date_start, date_end)
                },
                eventClick: function (info) {
                    //console.log(info);
                    //console.log(info.event.extendedProps);
                    EditTask(info.event);
                    @*alert('Event: ' + info.event.title);
                    var e = calendar.getEventById(info.event.id);
                    e.remove();*@
                },
                @*editable: true,
                selectable: true,
                unselectAuto: true,*@
                @*select: function (startDate, endDate) {
                    var start = new Date(startDate.format());
                    var stop = new Date(endDate.format());
                    stop = new Date(stop.setDate(stop.getDate() - 1));
                    var start_date = start.toISOString().split('T')[0];
                    var stop_date = stop.toISOString().split('T')[0];
                    if (start_date === stop_date) {
                        $('#taskmodal').modal();
                        $('#start_date').val(start_date);
                        $('#stop_date').val(stop_date);
                    }
                    else {
                        $('#taskmodal').modal();
                        $('#start_date').val(start_date);
                        $('#stop_date').val(stop_date);
                    }
                }*@
            });
            calendar.render();
        }

        var update = false;
        function AddTask(date_start) {
            $('#modal_task').modal();
            $('#modal_task_title').text("Add Task");
            update = false;
            $('#user_id').val("U0001");
            $('#working_date').val(date_start);
            $('#job_id').val();
            $('#task_id').val();
            $('#start_time').val("08:30");
            $('#stop_time').val("17:30");
            $('#lunch').prop('checked', true);
            $('#dinner').prop('checked', true);
            $('#note').val();
        }

        $('#btn_accept').on('click', function () {
            var user_id = $('#user_id').val();
            var working_date = $('#working_date').val();
            var job_id = $('#job_id').val();
            var task_id = $('#task_id').val();
            var start_time = $('#start_time').val();
            var stop_time = $('#stop_time').val();
            var lunch = $('#lunch').prop('checked');
            var dinner = $('#dinner').prop('checked');
            var note = $('#note').val();

            var debug = true;
            if (debug) {
                console.log("Add Task");
                console.log("User ID -> " + user_id);
                console.log("Date -> " + working_date);
                console.log("Job ID -> " + job_id);
                console.log("Task ID -> " + task_id);
                console.log("From -> " + start_time);
                console.log("To -> " + stop_time);
                console.log("Lunch -> " + lunch);
                console.log("Dinner -> " + dinner);
                console.log("Note -> " + note);
            }

            if (update) {
                var wh_string = JSON.stringify({
                    "index": wh_index,
                    "user_id": user_id,
                    "working_date": working_date,
                    "job_id": job_id,
                    "task_id": task_id,
                    "start_time": start_time,
                    "stop_time": stop_time,
                    "lunch": lunch,
                    "dinner": dinner,
                    "note": note,
                });
                UpdateWorkingHours(wh_string);
            }
            else {
                var wh_string = JSON.stringify({
                    "user_id": user_id,
                    "working_date": working_date,
                    "job_id": job_id,
                    "task_id": task_id,
                    "start_time": start_time,
                    "stop_time": stop_time,
                    "lunch": lunch,
                    "dinner": dinner,
                    "note": note,
                });
                AddWorkingHours(wh_string);
            }
        });

        var wh_index;
        function EditTask(event) {
            var task = event.extendedProps;
            $('#modal_task').modal();
            $('#modal_task_title').text("Edit Task");
            update = true;
            wh_index = task.index;
            $('#user_id').val(task.user_id);
            $('#working_date').val(task.working_date.split("T")[0]);
            $('#job_id').val(task.job_id);
            $('#task_id').val(task.task_id);
            $('#start_time').val(task.start_time);
            $('#stop_time').val(task.stop_time);
            if (task.lunch) {
                $('#lunch').prop('checked', true);
            }
            else {
                $('#lunch').prop('checked', false);
            }
            if (task.dinner) {
                $('#dinner').prop('checked', true);
            }
            else {
                $('#dinner').prop('checked', false);
            }
            $('#note').val(task.note);
        }

        async function AddWorkingHours(wh_string) {
            await $.ajax({
                type: "POST",
                url: '@Url.Action("AddWorkingHours", "Home")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    wh_string
                },
                success: function (response) {
                    if (response == "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        }

        async function UpdateWorkingHours(wh_string) {
            await $.ajax({
                type: "PATCH",
                url: '@Url.Action("EditWorkingHours", "Home")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    wh_string
                },
                success: function (response) {
                    if (response == "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        }

    </script>
}