@{ 
    ViewData["Title"] = "Users";
}
<div class="row p-3">
    <div class="col-xl-2 col-lg-4 col-md-4 pb-3">
        <button id="btn_add" type="button" class="btn btn-primary form-control elevation-1">
            <i class="fas fa-plus"></i> Create User
        </button>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 pb-3">
        <button id="btn_import" type="button" class="btn btn-primary form-control elevation-1">
            <i class="fas fa-upload"></i> Import
        </button>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 pb-3">
        <button id="btn_export" type="button" class="btn btn-primary form-control elevation-1">
            <i class="fas fa-download"></i> Export
        </button>
    </div>
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-dark">
                <span class="card-title">Users</span>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <table id="table_user" class="table table-sm compact border table-striped table-hover w-100">
                            <thead class="text-center">
                                <tr>
                                    <th>No</th>
                                    <th>User ID</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot class="text-center">
                                <tr>
                                    <th>No</th>
                                    <th>User ID</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_user" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal_title" class="modal-title">Create User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="user_id">User ID</label>
                        <input id="user_id" type="text" class="form-control" placeholder="Firstname.L" />
                    </div>
                    <div class="form-group">
                        <label for="user_name">User Name</label>
                        <input id="user_name" type="text" class="form-control" placeholder="Firstname Lastname" />
                    </div>
                    <div class="form-group">
                        <label for="department">Department</label>
                        <select id="department" class="form-control">
                            <option value="" selected disabled>Please Select Department</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button id="btn_save" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var table;

        $(document).ready(function () {
            GetDepartments();
            GetUsers();
        });

        async function GetUsers() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetUsers", "User")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    GenerateTable(response);
                }
            });
        }

        var departments = [];
        async function GetDepartments() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetDepartments", "Department")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    departments = response;
                }
            });
        }

        function GenerateTable(users) {
            var datas = [];

            if (table !== undefined)
                table.DataTable().destroy();

            for (var i = 0; i < users.length; i++) {
                datas.push([
                    users[i].user_no,
                    users[i].user_id,
                    users[i].user_name,
                    users[i].department,
                ]);
            }

            table = $('#table_user').DataTable({
                data: datas,
                columnDefs: [
                    {
                        targets: [1, 2, 3],
                        className: "border-left"
                    }
                ],
                rowCallback: function (row, data) {
                    $('td:eq(0)', row).addClass("text-center");
                    $('td:eq(3)', row).addClass("text-center");
                }
            });
        }

        var update = false;
        $('#btn_add').on('click', function () {
            update = false;
            $('#modal_user').modal();
            $('#modal_title').text("Create User");
            $('#department').empty();
            var dep_str = '<option value="" selected disabled>Please Select Department</option>';
            for (var i = 0; i < departments.length; i++) {
                dep_str += '<option value="' + departments[i].department_id + '">' + departments[i].department_name + '</option>'
            }
            $('#department').append(dep_str);
        });

        $('#btn_import').on('click', function () {
            alert("Button Import Click");
        });

        $('#btn_export').on('click', function () {
            alert("Button Export Click");
        });

        $('#table_user tbody').on('click', 'tr', function () {
            GetDepartments();
            EditUser(table.row(this).data());
        });

        function EditUser(data) {
            update = true;
            $('#modal_user').modal();
            $('#modal_title').text("Edit User");
            $('#department').empty();
            var dep_str = '<option value="" selected disabled>Please Select Department</option>';
            for (var i = 0; i < departments.length; i++) {
                dep_str += '<option value="' + departments[i].department_id + '">' + departments[i].department_name + '</option>'
            }
            $('#department').append(dep_str);
        }

    </script>
}