@{ 
    ViewData["Title"] = "Users";
}
<div class="row p-3">
    <div class="col-xl-2 pb-3">
        <button id="btn_add" type="button" class="btn btn-primary elevation-1">
            <i class="fas fa-plus"></i> Create User
        </button>
    </div>
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Users</span>
            </div>
            <div class="card-body">
                <table id="table_user" class="table table-sm table-striped table-hover w-100">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Department</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Department</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_user" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="user_id">User ID</label>
                        <input id="user_id" type="text" class="form-control" placeholder="User ID" />
                    </div>
                    <div class="form-group">
                        <label for="user_name">User Name</label>
                        <input id="user_name" type="text" class="form-control" placeholder="User Name" />
                    </div>
                    <div class="form-group">
                        <label for="department">Department</label>
                        <select id="department" class="form-control">
                            <option value="" selected disabled>Please Select Department</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var table;

        $(document).ready(function () {
            GetUsers();
        });

        async function GetUsers() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetUsers", "User")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    GenerateTable(response);
                }
            });
        }

        function GenerateTable(users) {
            var datas = [];

            if (table !== undefined)
                table.DataTable().destroy();

            for (var i = 0; i < users.length; i++) {
                datas.push([
                    users[i].user_no,
                    users[i].user_id,
                    users[i].user_name,
                    users[i].department,
                ]);
            }

            $('#table_user').DataTable({
                iDisplayLength: -1,
                info: false,
                paging: false,
                data: datas,
            });
        }

        $('#btn_add').on('click', function () {
            $('#modal_user').modal();
        });

    </script>
}