@{ 
    ViewData["Title"] = "Jobs";
}
<div class="row p-3">
    <div class="col-xl-2 pb-3">
        <button id="btn_create" type="button" class="btn btn-primary elevation-1">
            <i class="fas fa-plus"></i> Create Job
        </button>
    </div>
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Jobs</span>
            </div>
            <div class="card-body">
                <table id="table_job" class="table table-sm table-hover table-striped w-100">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Sale Dep</th>
                            <th>Sale</th>
                            <th>Cost</th>
                            <th>MD</th>
                            <th>PD</th>
                            <th>Factor</th>
                            <th>Manpower</th>
                            <th>Cost/Manpower</th>
                            <th>OT Manpower</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_job" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="job_id">Job Number</label>
                        <input id="job_id" type="text" class="form-control" placeholder="JYY-XXXX" />
                    </div>
                    <div class="form-group">
                        <label for="job_name">Job Name</label>
                        <input id="job_name" type="text" class="form-control" placeholder="Job Name" />
                    </div>
                    <div class="form-group">
                        <label for="job_description">Job Description</label>
                        <input id="job_description" type="text" class="form-control" placeholder="Job Description" />
                    </div>
                    <div class="form-group">
                        <label for="sale_department">Sale Department</label>
                        <select id="sale_department" class="form-control">
                            <option value="" selected disabled>Please Select Department</option>
                            <option value="QIR">QIR</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sale">Sale</label>
                        <select id="sale" class="form-control">
                            <option value="" selected disabled>Please Select Sale</option>
                            <option value="Korakod.P">Korakod.P</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-xl-6">
                            <div class="row">
                                <div class="col-10">
                                    <label for="cost">Cost</label>
                                    <input id="cost" type="number" class="form-control text-right" placeholder="0" value="0" />
                                </div>
                                <div class="col-2 d-flex align-items-end justify-content-center">
                                    <label class="col-form-label">THB</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <label for="md_rate">Market Develop</label>
                            <div class="row">
                                <div class="col-10">
                                    <input id="md_rate" type="number" class="form-control text-right" placeholder="#.#" value="1.0" step="0.1" min="0" max="10" />
                                </div>
                                <div class="col-2 text-center">
                                    <label class="col-form-label">X</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <label for="pd_rate">Product Develop</label>
                            <div class="row">
                                <div class="col-10">
                                    <input id="pd_rate" type="number" class="form-control text-right" placeholder="#.#" value="1.0" step="0.1" min="0" max="10" />
                                </div>
                                <div class="col-2 text-center">
                                    <label class="col-form-label">X</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="status" class="form-control">
                            <option value="" selected disabled>Please Select Status</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        var table;
        var update = false;

        $(document).ready(function () {
            GetJobs();
        });

        async function GetJobs() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobs", "Job")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    GenerateTable(response);
                }
            });
        };

        function GenerateTable(jobs) {
            var datas = [];

            if (table !== null)
                $('#table_job').DataTable().destroy();

            for (var i = 0; i < jobs.length; i++) {
                datas.push([
                    jobs[i].job_id,
                    jobs[i].job_name,
                    jobs[i].job_description,
                    jobs[i].sale_department,
                    jobs[i].sale,
                    jobs[i].cost,
                    jobs[i].md_rate,
                    jobs[i].pd_rate,
                    jobs[i].factor,
                    jobs[i].manpower,
                    jobs[i].cost_per_manpower,
                    jobs[i].ot_manpower,
                    jobs[i].status,
                ]);
            }

            table = $('#table_job').DataTable({
                data: datas,
            });
        };

        $('#btn_create').on('click', function () {
            CreateJob();
        });

        function CreateJob() {
            $('#modal_job').modal();
            $('#btn_save').attr('disabled', true);
            $('#job_number').val();
            $('#job_name').val();
            $('#job_description').val();
            $('#sale_department').val();
            $('#sale').val();
            $('#cost').val();
            $('#md').val();
            $('#pd').val();
            $('#status').val();
        };

        $('#table_job tbody').on('click', 'tr', function () {
            EditJob(table.row(this).data());
        });

        function EditJob(data) {
            $('#modal_job').modal();
            update = true;
            var job_id = data[0];
            var job_name = data[1];
            var job_description = data[2];
            var sale_department = data[3];
            var sale = data[4];
            var cost = data[5];
            var md = data[6];
            var pd = data[7];
            var factor = data[8];
            var manpower = data[9];
            var cost_manpower = data[10];
            var ot_manpower = data[11];
            var status = data[12];

            var debug = true;
            if (debug) {
                console.log("Job ID: " + job_id);
                console.log("Job Name: " + job_name);
                console.log("Job Description: " + job_description);
                console.log("Sale Department: " + sale_department);
                console.log("Sale: " + sale);
                console.log("Cost: " + cost);
                console.log("MD: " + md);
                console.log("PD: " + pd);
                console.log("Factor: " + factor);
                console.log("Manpower: " + manpower);
                console.log("Cost/Manpower: " + cost_manpower);
                console.log("OT Manpower: " + ot_manpower);
                console.log("Status: " + status);
            }

            sale_department = (sale_department === null) ? "" : sale_department;
            sale = (sale === null) ? "" : sale;
            status = (status === null) ? "" : status;

            $('#job_id').val(job_id);
            $('#job_name').val(job_name);
            $('#job_description').val(job_description);
            $('#sale_department').val(sale_department);
            $('#sale').val(sale);
            $('#cost').val(cost);
            $('#md').val(md);
            $('#pd').val(pd);
            $('#status').val(status);
        }

        $('#job_number').on('change', function () {
            EnableSave();
        });

        function EnableSave() {
            var en = 1;
            en *= ($('#job_number').val().trim() === "") ? 0 : 1;
            if(en === 1)
                $('#btn_save').attr('disabled', false);
            else
                $('#btn_save').attr('disabled', true);
        };

        
        $('#btn_save').on('click', function () {
            var job_id = $('#job_id').val();
            var job_name = $('#job_name').val();
            var job_description = $('#job_description').val();
            var sale_department = $('#sale_department').val();
            var sale = $('#sale').val();
            var cost = $('#cost').val();
            var md_rate = $('#md_rate').val();
            var pd_rate = $('#pd_rate').val();
            var status = $('#status').val();

            sale_department = (sale_department === null) ? "" : sale_department;
            sale = (sale === null) ? "" : sale;
            status = (status === null) ? "" : status;

            var debug = true;
            if (debug) {
                console.log("Job Number: " + job_id);
                console.log("Job Name: " + job_name);
                console.log("Job Description: " + job_description);
                console.log("Sale Department: " + sale_department);
                console.log("Sale: " + sale);
                console.log("Cost: " + cost);
                console.log("MD Rate: " + md_rate);
                console.log("PD Rate: " + pd_rate);
                console.log("Status: " + status);
            }

            var job_string = JSON.stringify({
                "job_id": job_id,
                "job_name": job_name,
                "job_description": job_description,
                "sale_department": sale_department,
                "sale": sale,
                "cost": cost,
                "md_rate": md_rate,
                "pd_rate": pd_rate,
                "status": status
            });

            if(update)
                UpdateJob(job_string);
            else
                AddJob(job_string);
        });

        function AddJob(job_string) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddJob", "Job")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    job_string
                },
                success: function (response) {
                    if (response == "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        };

        function UpdateJob(job_string) {
            $.ajax({
                type: "PATCH",
                url: '@Url.Action("UpdateJob", "Job")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    job_string
                },
                success: function (response) {
                    if (response == "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        }

    </script>
}