<div class="row pt-3">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Jobs</span>
            </div>
            <div class="card-body">
                <table id="table_job" class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>Job ID</th>
                            <th>Sale Dep</th>
                            <th>Sale</th>
                            <th>Cost</th>
                            <th>MD</th>
                            <th>PD</th>
                            <th>Factor</th>
                            <th>Manpower</th>
                            <th>Cost/Manpower</th>
                            <th>OT Manpower</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_job').DataTable();
        });
    </script>
}